*{
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}

body{
  margin: 0;
  height: 100vh;
  display: flex;
  color: $white;
}

main{
  background-color: $screen-bg;
  display: flex;
  flex: 1;
}
